---
import Link from '@components/atoms/Link.astro';
import Text from '@components/atoms/Text.astro';
import SocialLinks from '@components/molecules/SocialLinks.astro';

export interface FooterLink {
  href: string;
  label: string;
  external?: boolean;
}

export interface FooterSection {
  title: string;
  links: FooterLink[];
}

export interface Props {
  sections?: FooterSection[];
  siteName?: string;
  copyright?: string;
  class?: string;
}

const {
  sections = [],
  siteName = 'Draftlab Scaffold',
  copyright,
  class: className = '',
} = Astro.props;

const currentYear = new Date().getFullYear();
const copyrightText = copyright || `© ${currentYear} ${siteName}. Some rights reserved.`;
const thanksText = `Background images by <a href="https://unsplash.com/@annamagenta82">Anna Magenta</a> (Unsplash). People images by <a href="https://openpeeps.com/">OpenPeeps</a> via <a href="https://www.dicebear.com/">DiceBear</a>`
---

<footer class={`bg-highlight-950 text-white  ${className}`}>
	<div class="mx-auto max-w-7xl px-4 py-12 sm:px-6 lg:px-8">
		<!-- Footer Sections -->
		{
			sections.length > 0 && (
				<div class="mb-8 grid grid-cols-1 gap-8 sm:grid-cols-2 lg:grid-cols-4">
					{sections.map((section) => (
						<div>
							<h3 class="mb-4">{section.title}</h3>
							<ul class="space-y-3">
								{section.links.map((link) => (
									<li>
										<Link
											href={link.href}
											variant="footer"
											external={link.external}
										>
											{link.label}
										</Link>
									</li>
								))}
							</ul>
						</div>
					))}
				</div>
			)
		}

		<!-- Custom Content Slot -->
		<slot />

		<!-- Social Links -->
		<div class="border-t border-white/10 pt-8">
			<SocialLinks class="justify-center" iconClass="w-5 h-5" />
		</div>

		<!-- Copyright -->
		<div class="pt-8">
			<Text size="sm" class="text-center">
				{copyrightText}
			</Text>
		</div>
		<div class="pt-8">
			<Text size="sm" class="text-center" set:html={thanksText} />
		</div>
	</div>
</footer>
